:root {
    --mdui-shape-corner-full: 7px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: clip;
    min-width: 282px;
    font-family: 'Roboto', sans-serif;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.rainbow_text {
    background: linear-gradient(to right,
            #ff0000,
            #ffff00,
            #00ff00,
            #00ffff,
            #0000ff,
            #ff00ff,
            #ff0000,
            #ffff00,
            #00ff00);
    -webkit-background-clip: text;
    background-clip: text;
    color: #FFF9 !important;
    animation: rainbow_animation 4s linear infinite;
    background-size: 400% 100%;
}


@keyframes rainbow_animation {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100% 0;
    }
}

/* dark text shadow */
.shadow {
    text-shadow: 0 0 0.9px #FFF3;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    height: 100%;

    .content {
        margin: 1rem;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 1rem;

        .action {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 0.8rem;
        }
    }
}